
.marquee-wrap {
    height:100vh ;
   
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slider {
list-style-type: none;
text-align: center;
animation: slider linear infinite;
}

.slider li {
line-height: 2.4;
writing-mode: -webkit-vertical-rl; /* Préfixe pour Safari */
writing-mode: vertical-rl; /* Orientation verticale */
text-orientation: mixed;
transform: rotate(180deg); /* Inversion pour partir du haut */
}

.slider2 {
list-style-type: none;
text-align: center;
animation: slider2 linear infinite;
}

.slider2 li {
    line-height: 2;
    writing-mode: -webkit-vertical-rl; /* Préfixe pour Safari */
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
@supports (-webkit-hyphens:none) and (text-orientation:upright) {
    .slider2 li {
        line-height: 6.5 !important;
    }
}
@keyframes slider {
0% {
    transform: translateY(0);
}
100% {
    transform: translateY(-50%);
}
}

@keyframes slider2 {
0% {
    transform: translateY(-50%);
}
100% {
    transform: translateY(0);
}
}